# Java
*.class
*.jar
!gradle-wrapper.jar
*.war
*.ear

# Gradle
.gradle/
build/

# Maven
target/

# IDEs
.idea/
*.iml
.vscode/
.settings/
.project
.classpath
bin/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Scripts
*.sh

# BentoBox specific
*.missing
